html {
    font-size: 10px;
}

body {
    margin: 0;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Teko', sans-serif; */
    font-family: 'Bitter', serif;
    font-size: 1.6rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 5px;
}

.user {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.user__avatar img {
    width: 300px;
    border-radius: 2%;
}

.user__content {
    display: block;
    max-width: 100%;
    height: auto;
}

.user__information {
    color: antiquewhite;
    text-shadow: 1px 0 3px #000000;

    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 50px;
    transition: color .2s linear;
}

.user__information:hover {
    color: rgb(255, 226, 189);
    cursor: pointer;
}

.user__information--name {
    letter-spacing: 0.1em;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
}







